.section{
    background-image: url(https://img.freepik.com/free-vector/cryptocurrency-bitcoin-golden-coin-with-digital-circuit-lines-background_1017-33592.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    margin-top: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(212, 206, 206, 0.568);
}